<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>website4nhgbh</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="http://127.0.0.1:4000/public/css/vertical_menu.css" >


</head>
    <body> <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"><li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:4000/template/kaoutar_ou/website4nhgbh/page1_8gcff.html">page1_8gcff</a>
      </li><li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:4000/template/kaoutar_ou/website4nhgbh/page2_8bgdt.html">page2_8bgdt</a>
      </li>
    
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav><header>
                <!-- Intro settings -->
                <style>
                    /* Default height for small devices */
                    #intro-example {
                        height: 400px;
                    }

                    /* Height for devices larger than 992px */
                    @media (min-width: 992px) {
                        #intro-example {
                            height: 600px;
                        }
                    }
                </style>
                
                <div
                        id="intro-example"
                        class=" text-center bg-image"
                        style="background-repeat: no-repeat; background-size: cover; min-height:80vh; background-image: url(http://127.0.0.1:4000/public/image/photo_gallery/circuit-board-gfda96cc74_1920.1639848241.jpg);"
                >   
                    <div class="mask" style="height:100%;background-color: rgba(0, 0, 0, 0.7);">
                        <div class="d-flex justify-content-center align-items-center h-75">
                            <div class="text-white">
                                <h1 class="mb-3">website4nhgbh</h1>
                                <h5 class="mb-4">.........</h5>
                                <a
                                        class="btn btn-outline-light btn-lg m-2"
                                        href="#"
                                        role="button"
                                        rel="nofollow"
                                        target="_blank"
                                >First Page</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Background image -->
            </header><footer class="bg-dark text-center text-white" style=" bottom: 0; width: 100%">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4"><a class="btn btn-outline-light btn-floating m-1" href="https://facebook.com" role="button"
        ><i class="fab fa-facebook"></i
      ></a></section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">gfngfhhg1</a>
  </div>
  <!-- Copyright -->
</footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="http://127.0.0.1:4000/public/js/vertical_menu.js"  type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
</html>